<mat-toolbar class="mat-elevation-z6" color="primary">
  <span> <a routerLink="/">Dev Posts</a> </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userAuthenticated">
      <a mat-button routerLink="/create">New Post</a>
    </li>
    <li *ngIf="!userAuthenticated">
      <a mat-button routerLink="/login">Login</a>
    </li>
    <li *ngIf="!userAuthenticated">
      <a mat-button routerLink="/signup">Signup</a>
    </li>
    <li *ngIf="userAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>