<section class="create_posts">
  <mat-card class="mat-elevation-z3">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onPostAdded()" *ngIf="!isLoading">
      <mat-form-field>
        <input formControlName="title" name="title" type="text" matInput placeholder="Post Title" />
        <mat-error *ngIf="form.get('title').invalid">Please enter a post title</mat-error>
      </mat-form-field>
      <div>
        <button mat-stroked-button type="button" (click)="fileInput.click()">Pick Image</button>
        <input type="file" #fileInput (change)="onImagePicked($event)" />
      </div>
      <div class="image_preview" *ngIf="imagePreview !=='' && imagePreview">
        <img [src]="imagePreview" [alt]="form.value.title" />
      </div>
      <mat-form-field>
        <textarea formControlName="content" name="content" matInput placeholder="Post Content"></textarea>
        <mat-error *ngIf="form.get('content').invalid">Please enter a post content</mat-error>
      </mat-form-field>
      <button color="accent" mat-raised-button type="submit">Save Post</button>
    </form>
  </mat-card>
</section>